## editors
/.idea

## system files
.DS_Store
.idea/
*.log
.vscode/
## npm
/node_modules/
/npm-debug.log
.npmrc

## testing
/coverage/

## bower
/bower_components*/
/bower-*.json

## temp folders
/.tmp/

## demoing
/demo/

## building
/build/
/dist/

## other
yarn-error.log

# push to github
!.babelrc
!.gitignore
!.npmignore

# yalc
/.yalc

