// system file
*.log
.DS_Store*
.idea/

// specific files
node_modules/
example/
example-v5/
build/
test/
bin/
CHANGELOG.md
src/
docs/
public/

// setting files
.babelrc
.travis.yml

// others
.vscode/
.husky/
.github/
