// system file
*.log
.DS_Store*
.idea/

// specific files
node_modules/
example/
example-v5/
build/
benchmarks/
test/
bin/
CHANGELOG.md
src/
docs/
public/
coverage/
scripts/

// setting files
.babelrc
.travis.yml
.editorconfig

// misc folders
.vscode/
.husky/
.github/
rollup-plugins/

// misc files
bundlesize.config.json
prebuild.js
jest.config.mjs
global.d.ts
tsconfig.jest.json

// bundler - rollup
rollup.config.dev.js
rollup.config.prod.js
rollup.config.types.js
rollup.config.dev.mjs
rollup.config.prod.mjs
rollup.config.types.mjs

// bundler - esbuild
esbuild.config.dev.mjs
esbuild.config.prod.mjs

// unused configs
.eslintrc.json
.gitattributes
.prettierrc.json
.stylelintrc.json
beta-release.js
tsconfig.json
