/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroAds {
  position: absolute;
  left: 0;
  top: 12px;
}

@media screen and (min-width: 375px) {
  .heroAds {
    top: 4rem;
  }
}

@media screen and (min-width: 425px) {
  .heroAds {
    left: unset;
    top: 8px;
  }
}

@media screen and (min-width: 768px) {
  .heroAds {
    transform: translateX(calc(50% - 30px));
  }
}

@media screen and (min-width: 1024px) {
  .heroAds {
    top: 10rem;
    transform: unset;
  }
}

@media screen and (min-width: 1256px) {
  .heroAds {
    left: 4rem;
  }
}

@media screen and (min-width: 1440px) {
  .heroAds {
    left: 8rem;
  }
}

@media screen and (min-width: 2000px) {
  .heroAds {
    left: 16rem;
  }
}

@media screen and (min-width: 2560px) {
  .heroAds {
    left: 32rem;
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 16px;
}

@media screen and (min-width: 768px) {
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 16px;
  }
}
