.tooltip {
  visibility: hidden;
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 90%;
  pointer-events: none;
}

.arrow {
  position: absolute;
  background: #333;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}

.show {
  visibility: visible;
}
