.__react_component_tooltip {
  border-radius: 3px  !important;
  display: inline-block  !important;
  font-size: 13px  !important;
  left: -999em ;
  opacity: 0 ;
  padding: 8px 21px  !important;
  position: fixed  !important;
  pointer-events: none  !important;
  transition: opacity 0.3s ease-out  !important;
  top: -999em  ;
  visibility: hidden;
  z-index: 999 ;
  &.allow_hover,
  &.allow_click {
    pointer-events:auto  !important;
  }
  &:before,
  &:after {
    content: "" ;
    width: 0  ;
    height: 0  ;
    position: absolute ;
  }
  &.show {
    opacity: 0.9  !important;
    margin-top: 0px  !important;
    margin-left: 0px  !important;
    visibility: visible  !important;
  }
  // Place
  &.place-top {
    margin-top: -10px;
    &:before {
      border-left: 10px solid transparent !important;
      border-right: 10px solid transparent !important;
      bottom: -8px  !important;
      left: 50%  !important;
      margin-left: -10px;
    }
    &:after {
      border-left: 8px solid transparent !important;
      border-right: 8px solid transparent !important;
      bottom: -6px  !important;
      left: 50%  !important;
      margin-left: -8px;
    }
  }
  &.place-bottom {
    margin-top: 10px !important;
    &:before {
      border-left: 10px solid transparent !important;
      border-right: 10px solid transparent !important;
      top: -8px !important;
      left: 50% !important;
      margin-left: -10px !important;
    }
    &:after {
      border-left: 8px solid transparent !important;
      border-right: 8px solid transparent !important;
      top: -6px !important;
      left: 50% !important;
      margin-left: -8px !important;
    }
  }
  &.place-left {
    margin-left: -10px !important;
    &:before {
      border-top: 6px solid transparent !important;
      border-bottom: 6px solid transparent !important;
      right: -8px  !important;
      top: 50% !important;
      margin-top: -5px !important;
    }
    &:after {
      border-top: 5px solid transparen !important;
      border-bottom: 5px solid transparent !important;
      right: -6px !important;
      top: 50% !important;
      margin-top: -4px !important;
    }
  }
  &.place-right {
    margin-left: 10px !important;
    &:before {
      border-top: 6px solid transparent !important;
      border-bottom: 6px solid transparent !important;
      left: -8px !important;
      top: 50% !important;
      margin-top: -5px !important;
    }
    &:after {
      border-top: 5px solid transparent !important;
      border-bottom: 5px solid transparent !important;
      left: -6px !important;
      top: 50% !important;
      margin-top: -4px !important;
    }
  }
  .multi-line {
    display: block  !important;
    padding: 2px 0px  !important;
    text-align: center  !important;
  }
}
