.react-tooltip {
  $background-color: #222;
  background: $background-color;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  left: -999em;
  opacity: 0;
  padding: 8px 21px;
  position: fixed;
  pointer-events: none;
  transition: opacity 0.5s ease-out , margin-top 0.3s ease-out;
  top: -999em;
  &:after {
    content: "";
    width: 0;
	  height: 0;
    position: absolute;
  }
  &.show {
    opacity: 0.9 !important;
    margin-top: 0px !important;
  }
  &.place-top {
    margin-top: -10px;
    &:after {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 8px solid $background-color;
      bottom: -8px;
      left: 50%;
      margin-left: -10px;
    }
  }
  &.place-bottom {
    margin-top: 10px;
    &:after {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 8px solid $background-color;
      top: -8px;
      left: 50%;
      margin-left: -10px;
    }
  }
}
